body{
	background-color: #232323;
}
.square{
	width:30%; /*Each box is designed to take up 30% of the container*/
	background: purple;
	padding-bottom: 30%; /*if we dont add padding we wont be able to see anything*/
	float: left;/*All will be on a single line. float is used to make all the squares line up next to one and another*/
	margin:1.66%;/*the marin of 1.66% along with the 30% for each squre would giev a total of 100%*/
}
 /*we use the css to create a similar responsive grid that we showcased earlier in photogrid*/

#container {
	margin: 0 auto; /*to centre the boxes, 0 margin is given on both top and bottom and auto feature is used to make the site look responsive and centred.*/
	max-width:600px;
}
h1{
	color:white;
}
span{
	color:white; /*changing the color of lines to white */
}
